<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="index.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <add name="Content-type" value="text/html; charset=windows-1251" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.web>
        <globalization enableClientBasedCulture="false" requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8" />
    </system.web>
</configuration>
